body {
    background-color: goldenrod;
  }
h1 {
  color: yellow;
  font-family: sans-serif;
}

p {
  color: blue;
  font-family: cursive;
}

nav {
  margin-left: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

label {
  position: relative;
  display: inline-block;
}

/* li {
  color: violet;
  font-size: 50px;
} */